body {
  background-color: rgb(62, 62, 237);
  color: white;
  height: 100vh;
}

.navigationWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1800px;
  width: 100%;
  background-color: lightgrey;
  font-size: 34px;
  position: relative;
}

.navigationHolder {
  display: flex;
  gap: 30px;
  padding: 20px 20px;
  max-width: 1800px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 25px;
}

.megaphone {
  max-width: 60px;
  height: 60px;
  width: 100%;
  padding-left: 15px;
  cursor: pointer;
}

.navigationWrapper span {
  background-color: red;
  border-radius: 50%;
  width: 28px;
  height: 25px;
  font-size: 16px;
  padding: 5px;
  position: absolute;
  top: 15px;
  right: 520px;
}

.homePageHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
}

.homePageHolder h1 {
  margin: 10px;
}

.homePageHolder button {
  margin-top: 30px;
  max-width: 250px;
  width: 100%;
  border: none;
  border-radius: 25px;
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.inputTag {
  max-width: 350px;
  width: 100%;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 25px;
  padding-left: 30px;
  font-size: 22px;
  color: black;
}

.createTaskHolder {
  margin-top: 120px;
}

.createTaskHolder button {
  margin-top: 30px;
  max-width: 250px;
  width: 100%;
  border: none;
  border-radius: 25px;
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.tasksListWrapper {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.tasksListHolder {
  max-width: 500px;
  width: 100%;
  margin-top: 80px;
}

.tasksListText {
  display: flex;
  justify-content: space-between;
}

.tasksListText span {
  font-size: 36px;
  max-width: 100px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-radius: 50%;
  border: none;
  background-color: rgb(81, 212, 81);
  margin-top: 20px;
}

.tasksListLeft {
  text-align: left;
  max-width: 400px;
  width: 100%;
}

.tasksListLeft h1 {
  font-size: 36px;
}

.listTasks {
  max-width: 700px;
  width: 100%;
  height: 70px;
  background-color: lightgrey;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: none;
  margin-top: 30px;
}

.listTasks img {
  max-width: 40px;
  width: 100%;
  height: 40px;
}

.tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 170px;
  max-width: 690px;
  height: 70px;
}

.span {
  max-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid green;
  margin-top: 18px;
  margin-right: 40px;
  background-color: white;
}

.spanAndPText {
  display: flex;
}

.spanAndPText h2 {
  margin-left: -15px;
}

.tasksPictures img {
  margin-left: 15px;
}

.aboutHolder {
  margin-top: 30px;
}

.megaPhone {
  max-width: 150px;
  width: 100%;
  height: 150px;
  margin-bottom: 60px;
}

.aboutHolder h1 {
  font-size: 36px;
  width: 85%;
  margin: 0 auto;
}

.recycleBin {
  cursor: pointer;
}

.noTasks {
  font-size: 45px;
  margin: 0 auto;
  padding-top: 100px;
}
